<section class="advantages">
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__list__item advantages__list__item-1">
        <h3 class="advantages__list__item-title">Идеально для маркетплейсов</h3>

        <p class="advantgages__list__item-text">
          Подробные описания, характеристики и фотографии товаров
        </p>
      </li>
      <li class="advantages__list__item advantages__list__item-2">
        <h3 class="advantages__list__item-title">Идеально для маркетплейсов</h3>

        <p class="advantgages__list__item-text">
          Подробные описания, характеристики и фотографии товаров
        </p>
      </li>
      <li class="advantages__list__item advantages__list__item-3">
        <h3 class="advantages__list__item-title">Идеально для маркетплейсов</h3>

        <p class="advantgages__list__item-text">
          Подробные описания, характеристики и фотографии товаров
        </p>
      </li>
      <li class="advantages__list__item advantages__list__item-4">
        <h3 class="advantages__list__item-title">Идеально для маркетплейсов</h3>

        <p class="advantgages__list__item-text">
          Подробные описания, характеристики и фотографии товаров
        </p>
      </li>
      <li class="advantages__list__item advantages__list__item-5">
        <h3 class="advantages__list__item-title">Идеально для маркетплейсов</h3>

        <p class="advantgages__list__item-text">
          Подробные описания, характеристики и фотографии товаров
        </p>
      </li>
    </ul>

    <div class="swiper advantages-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="advantages__list__item advantages__list__item-1">
            <h3 class="advantages__list__item-title">
              Идеально для маркетплейсов
            </h3>

            <p class="advantgages__list__item-text">
              Подробные описания, характеристики и фотографии товаров
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantages__list__item advantages__list__item-2">
            <h3 class="advantages__list__item-title">
              Идеально для маркетплейсов
            </h3>

            <p class="advantgages__list__item-text">
              Подробные описания, характеристики и фотографии товаров
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantages__list__item advantages__list__item-3">
            <h3 class="advantages__list__item-title">
              Идеально для маркетплейсов
            </h3>

            <p class="advantgages__list__item-text">
              Подробные описания, характеристики и фотографии товаров
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantages__list__item advantages__list__item-4">
            <h3 class="advantages__list__item-title">
              Идеально для маркетплейсов
            </h3>

            <p class="advantgages__list__item-text">
              Подробные описания, характеристики и фотографии товаров
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantages__list__item advantages__list__item-5">
            <h3 class="advantages__list__item-title">
              Идеально для маркетплейсов
            </h3>

            <p class="advantgages__list__item-text">
              Подробные описания, характеристики и фотографии товаров
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
