<section class="hero">
  <div class="swiper hero-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero__slide">
          <div class="hero__slide__info">
            <h1 class="hero__slide__info-title">
              Сезон подготовки к новогодним продажам открыт!
            </h1>
            <ul class="hero__slide__info__list">
              <li class="hero__slide__info__list-item">Искуственные елки</li>
              <li class="hero__slide__info__list-item">Гирлянды</li>
              <li class="hero__slide__info__list-item">Игрушки и украшения</li>
              <li class="hero__slide__info__list-item">Пиротехника</li>
              <li class="hero__slide__info__list-item">Новогодние подарк</li>
            </ul>

            <button class="hero__slide__info-btn btn">
              Перейти к каталогу
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__slide">
          <div class="hero__slide__info">
            <h1 class="hero__slide__info-title">
              Пришло время готовиться к новогодним продажам!
            </h1>
            <ul class="hero__slide__info__list">
              <li class="hero__slide__info__list-item">
                Праздничные искусственные елки
              </li>
              <li class="hero__slide__info__list-item">
                Великолепные гирлянды
              </li>
              <li class="hero__slide__info__list-item">
                Уникальные игрушки и украшения
              </li>
              <li class="hero__slide__info__list-item">
                Пиротехнические радости
              </li>
              <li class="hero__slide__info__list-item">
                Новогодние подарки для всех
              </li>
            </ul>

            <button class="hero__slide__info-btn btn">
              Перейти к каталогу
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__slide">
          <div class="hero__slide__info">
            <h1 class="hero__slide__info-title">
              Готовьтесь к предновогоднему сезону продаж!
            </h1>
            <ul class="hero__slide__info__list">
              <li class="hero__slide__info__list-item">
                Широкий выбор искусственных елок
              </li>
              <li class="hero__slide__info__list-item">
                Яркие гирлянды для праздничной атмосферы
              </li>
              <li class="hero__slide__info__list-item">
                Множество игрушек и украшений для праздничного декора
              </li>
              <li class="hero__slide__info__list-item">
                Фееричная пиротехника для праздника
              </li>
              <li class="hero__slide__info__list-item">
                Новогодние подарки для близких и друзей
              </li>
            </ul>

            <button class="hero__slide__info-btn btn">
              Перейти к каталогу
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__slide">
          <div class="hero__slide__info">
            <h1 class="hero__slide__info-title">
              Сезон подготовки к новогодним продажам открыт!
            </h1>
            <ul class="hero__slide__info__list">
              <li class="hero__slide__info__list-item">Искуственные елки</li>
              <li class="hero__slide__info__list-item">Гирлянды</li>
              <li class="hero__slide__info__list-item">Игрушки и украшения</li>
              <li class="hero__slide__info__list-item">Пиротехника</li>
              <li class="hero__slide__info__list-item">Новогодние подарк</li>
            </ul>

            <button class="hero__slide__info-btn btn">
              Перейти к каталогу
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
