<section class="products">
  <div class="container">
    <h2 class="products__title">
      Каталог
      <span> / Все товары </span>
    </h2>
    <div class="swiper products-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="products__slide">
            <div class="products__slide__img-wrap">
              <img
                src="../../img/product1.jpg"
                alt=""
                class="products__slide__img"
              />
              <img
                class="products__slide__img-heart"
                src="../../img/isons/heart.svg"
                alt=""
              />
            </div>

            <div class="products__slide__info">
              <h4 class="products__slide__info-title">
                Ель рожденственная с белыми кончиками
              </h4>
              <span
                class="products__slide__info-price products__slide__info-price-adaptive"
              >
                6 331 р.
              </span>

              <span class="products__slide__info__sizes-title"> Высота: </span>
              <div class="products__slide__info__sizes">
                <button class="products__slide__info__sizes-btn">60 см</button>
                <button class="products__slide__info__sizes-btn">90 см</button>
                <button class="products__slide__info__sizes-btn">120 см</button>
                <button class="products__slide__info__sizes-btn active">
                  150 см
                </button>
                <button class="products__slide__info__sizes-btn">180 см</button>
                <button class="products__slide__info__sizes-btn">210 см</button>
                <button class="products__slide__info__sizes-btn">240 см</button>
                <button class="products__slide__info__sizes-btn">210 см</button>
                <button class="products__slide__info__sizes-btn">300 см</button>
              </div>

              <dvi class="products__slide__info__bottom">
                <span class="products__slide__info-price"> 6 331 р. </span>
                <button class="products__slide__info__bottom-btn btn">
                  <img src="../../img/icons/bucket.svg" alt="" />
                  <span>В корзину</span>
                </button>
              </dvi>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products__slide">
            <div class="products__slide__img-wrap">
              <img
                src="../../img/product2.jpg"
                alt=""
                class="products__slide__img"
              />
              <img
                class="products__slide__img-heart"
                src="../../img/isons/heart.svg"
                alt=""
              />
            </div>

            <div class="products__slide__info">
              <h4 class="products__slide__info-title">
                Ель рожденственная с белыми кончиками
              </h4>
              <span
                class="products__slide__info-price products__slide__info-price-adaptive"
              >
                6 331 р.
              </span>

              <span class="products__slide__info__sizes-title"> Высота: </span>
              <div class="products__slide__info__sizes">
                <button class="products__slide__info__sizes-btn">60 см</button>
                <button class="products__slide__info__sizes-btn">90 см</button>
                <button class="products__slide__info__sizes-btn">120 см</button>
                <button class="products__slide__info__sizes-btn active">
                  150 см
                </button>
                <button class="products__slide__info__sizes-btn">180 см</button>
                <button class="products__slide__info__sizes-btn">210 см</button>
                <button class="products__slide__info__sizes-btn">240 см</button>
                <button class="products__slide__info__sizes-btn">210 см</button>
                <button class="products__slide__info__sizes-btn">300 см</button>
              </div>

              <dvi class="products__slide__info__bottom">
                <span class="products__slide__info-price"> 6 331 р. </span>
                <button class="products__slide__info__bottom-btn btn">
                  <img src="../../img/icons/bucket.svg" alt="" />
                  <span>В корзину</span>
                </button>
              </dvi>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products__slide">
            <div class="products__slide__img-wrap">
              <img
                src="../../img/product3.jpg"
                alt=""
                class="products__slide__img"
              />
              <img
                class="products__slide__img-heart"
                src="../../img/isons/heart.svg"
                alt=""
              />
            </div>

            <div class="products__slide__info">
              <h4 class="products__slide__info-title">
                Ель рожденственная с белыми кончиками
              </h4>
              <span
                class="products__slide__info-price products__slide__info-price-adaptive"
              >
                6 331 р.
              </span>

              <span class="products__slide__info__sizes-title"> Высота: </span>
              <div class="products__slide__info__sizes">
                <button class="products__slide__info__sizes-btn">60 см</button>
                <button class="products__slide__info__sizes-btn">90 см</button>
                <button class="products__slide__info__sizes-btn">120 см</button>
                <button class="products__slide__info__sizes-btn active">
                  150 см
                </button>
                <button class="products__slide__info__sizes-btn">180 см</button>
                <button class="products__slide__info__sizes-btn">210 см</button>
                <button class="products__slide__info__sizes-btn">240 см</button>
                <button class="products__slide__info__sizes-btn">210 см</button>
                <button class="products__slide__info__sizes-btn">300 см</button>
              </div>

              <dvi class="products__slide__info__bottom">
                <span class="products__slide__info-price"> 6 331 р. </span>
                <button class="products__slide__info__bottom-btn btn">
                  <img src="../../img/icons/bucket.svg" alt="" />
                  <span>В корзину</span>
                </button>
              </dvi>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products__slide">
            <div class="products__slide__img-wrap">
              <img
                src="../../img/product4.jpg"
                alt=""
                class="products__slide__img"
              />
              <img
                class="products__slide__img-heart"
                src="../../img/isons/heart.svg"
                alt=""
              />
            </div>

            <div class="products__slide__info">
              <h4 class="products__slide__info-title">
                Ель рожденственная с белыми кончиками
              </h4>

              <span
                class="products__slide__info-price products__slide__info-price-adaptive"
              >
                6 331 р.
              </span>

              <span class="products__slide__info__sizes-title"> Высота: </span>
              <div class="products__slide__info__sizes">
                <button class="products__slide__info__sizes-btn">60 см</button>
                <button class="products__slide__info__sizes-btn">90 см</button>
                <button class="products__slide__info__sizes-btn">120 см</button>
                <button class="products__slide__info__sizes-btn active">
                  150 см
                </button>
                <button class="products__slide__info__sizes-btn">180 см</button>
                <button class="products__slide__info__sizes-btn">210 см</button>
                <button class="products__slide__info__sizes-btn">240 см</button>
                <button class="products__slide__info__sizes-btn">210 см</button>
                <button class="products__slide__info__sizes-btn">300 см</button>
              </div>

              <dvi class="products__slide__info__bottom">
                <span class="products__slide__info-price"> 6 331 р. </span>
                <button class="products__slide__info__bottom-btn btn">
                  <img src="../../img/icons/bucket.svg" alt="" />
                  <span>В корзину</span>
                </button>
              </dvi>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products__slide">
            <div class="products__slide__img-wrap">
              <img
                src="../../img/product1.jpg"
                alt=""
                class="products__slide__img"
              />
              <img
                class="products__slide__img-heart"
                src="../../img/isons/heart.svg"
                alt=""
              />
            </div>

            <div class="products__slide__info">
              <h4 class="products__slide__info-title">
                Ель рожденственная с белыми кончиками
              </h4>
              <span
                class="products__slide__info-price products__slide__info-price-adaptive"
              >
                6 331 р.
              </span>

              <span class="products__slide__info__sizes-title"> Высота: </span>
              <div class="products__slide__info__sizes">
                <button class="products__slide__info__sizes-btn">60 см</button>
                <button class="products__slide__info__sizes-btn">90 см</button>
                <button class="products__slide__info__sizes-btn">120 см</button>
                <button class="products__slide__info__sizes-btn active">
                  150 см
                </button>
                <button class="products__slide__info__sizes-btn">180 см</button>
                <button class="products__slide__info__sizes-btn">210 см</button>
                <button class="products__slide__info__sizes-btn">240 см</button>
                <button class="products__slide__info__sizes-btn">210 см</button>
                <button class="products__slide__info__sizes-btn">300 см</button>
              </div>

              <dvi class="products__slide__info__bottom">
                <span class="products__slide__info-price"> 6 331 р. </span>
                <button class="products__slide__info__bottom-btn btn">
                  <img src="../../img/icons/bucket.svg" alt="" />
                  <span>В корзину</span>
                </button>
              </dvi>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <img src="../../img/icons/left-arrow.svg" alt="" />
      </div>
      <div class="swiper-button-next">
        <img src="../../img/icons/left-arrow.svg" alt="" />
      </div>
    </div>
  </div>
</section>
