.hero
    margin: 14px 0 0

    &__slide
        width: 100%
        height: 100%
        padding: 40px 10px

        overflow: hidden
        background: #fff
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20)

        border-radius: 12px

        display: flex
        align-items: center
        position: relative

        .hero-bg
            position: absolute

        .hero-bg1
            left: 0
            top: 0
            max-width: calc(11.80555556vw + 24.30555556px)

        .hero-bg2
            bottom: 0
            right: 25%
            max-width: calc(19.02777778vw + 20.83333333px)
        .hero-bg3
            bottom: 0
            right: 10%
            max-width: calc(22.43055556vw + 4.86111111px)

        .hero-bg4
            top: 0
            right: 0
            max-width: calc(8.68055556vw + 23.61111111px)

        &__info
            max-width: 477px
            margin: 0 0 0 20%
            position: relative
            z-index: 3

            &-title
                font-size: 28px
                color: #5C71B2
                font-weight: 600
                margin: 0

            &__list
                padding: 0 0 0 15px
                margin: 16px 0
                &-item
                    color: #282828
                    font-size: 16px
                    font-weight: 400
                    margin: 12px 0

            &-btn
                padding: 11px 24px

    .swiper-slide
        width: 85vw

    .swiper-pagination
        bottom: 0 !important

@media screen and (max-width: 1200px)
    .hero
        &__slide

@media screen and (max-width: 600px)
    .hero
        &__slide
            padding: 24px 10px
            &__info
                &-title
                    font-size: 16px

                &__list
                    padding: 0 0 0 8px
                    margin: 0
                    &-item
                        font-size: 10px
                        margin: 6px 0
                &-btn
                    font-size: 8px !important
